<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Control Drone</title>
</head>
<body>
    <div class="main">
        <div class="banner"><img src="../image/drone-banner.jpg" alt=""></div>
        <!-- <div class="title">Drone Control</div> -->
        <div class="bar">
            <input type="checkbox" hidden class="checkbox-persudo" name="menu" id="menu-icon-id">
           <label for="menu-icon-id" class="menu-icon center"><img style="width: 32%;" src="../image/icon-menu.png" alt="icon-menu"></label>
           <label for="menu-icon-id" class="overlay"></label>
           <div class="nav-bar">
               <div class="nav-bar-items">Get Location</div>
               <div class="nav-bar-items">Take off and land</div>
               <div class="nav-bar-items">Fly mission and back</div>
               <div class="nav-bar-items">Fly mission and not back</div>
            </div>
            <div class="log-out-icon center"><img style="width: 32%;" src="../image/logout.png" alt="log-out-icon"></div>
            <div class="side-bar">
                <label for="menu-icon-id" class="side-bar-items">Set up altitude</label>
                <label for="menu-icon-id" class="side-bar-items">Set up speed</label>
                <label for="menu-icon-id" class="side-bar-items">Create Mission</label>
                <label for="menu-icon-id" class="side-bar-items">Clear Mission</label>
            </div>
            
        </div>

        <div class="content"></div>
    </div>

</body>
</html>